body {
  margin: 1rem auto;
  max-width: 800px;
  background-color: #fff;
  color: #000;
  --button-text: #000;
  --button-bg: #fff;
}
body.dark {
  background-color: #000;
  color: #fff;
  --button-text: #fff;
  --button-bg: #000;
}
.navigation {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.logo {
  font-weight: bold;
  font-size: 1.2rem;
}
.toggle_btn {
  color: var(--button-text);
  background-color: var(--button-bg);
  cursor: pointer;
}
